/* Стили для контейнера NotFound */
.not-found-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 500px; /* Минимальная высота контейнера */
	padding: 20px;
	background: radial-gradient(circle, #240015 0%, #12000b 100%);
	color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Анимации для SVG */
#id1_1,
#id2_1,
#id3_1 {
	stroke: #ff005d;
	stroke-width: 3px;
	fill: transparent;
	filter: url(#glow);
}

#id1_2,
#id2_2,
#id3_2 {
	stroke: #12000a;
	stroke-width: 3px;
	fill: transparent;
	filter: url(#glow);
}

#id3_1 {
	stroke-dasharray: 940px;
	stroke-dashoffset: -940px;
	animation:
		drawLine3 2.5s ease-in-out 0s forwards,
		flicker3 4s linear 4s infinite;
}

#id2_1 {
	stroke-dasharray: 735px;
	stroke-dashoffset: -735px;
	animation:
		drawLine2 2.5s ease-in-out 0.5s forwards,
		flicker2 4s linear 4.5s infinite;
}

#id1_1 {
	stroke-dasharray: 940px;
	stroke-dashoffset: -940px;
	animation:
		drawLine1 2.5s ease-in-out 1s forwards,
		flicker1 4s linear 5s infinite;
}

/* Ключевые анимации */
@keyframes drawLine1 {
	0% {
		stroke-dashoffset: -940px;
	}
	100% {
		stroke-dashoffset: 0px;
	}
}

@keyframes drawLine2 {
	0% {
		stroke-dashoffset: -735px;
	}
	100% {
		stroke-dashoffset: 0px;
	}
}

@keyframes drawLine3 {
	0% {
		stroke-dashoffset: -940px;
	}
	100% {
		stroke-dashoffset: 0px;
	}
}

@keyframes flicker1 {
	0% {
		stroke: #ff005d;
	}
	1% {
		stroke: transparent;
	}
	3% {
		stroke: transparent;
	}
	4% {
		stroke: #ff005d;
	}
	6% {
		stroke: #ff005d;
	}
	7% {
		stroke: transparent;
	}
	13% {
		stroke: transparent;
	}
	14% {
		stroke: #ff005d;
	}
	100% {
		stroke: #ff005d;
	}
}

@keyframes flicker2 {
	0% {
		stroke: #ff005d;
	}
	50% {
		stroke: #ff005d;
	}
	51% {
		stroke: transparent;
	}
	61% {
		stroke: transparent;
	}
	62% {
		stroke: #ff005d;
	}
	100% {
		stroke: #ff005d;
	}
}

@keyframes flicker3 {
	0% {
		stroke: #ff005d;
	}
	1% {
		stroke: transparent;
	}
	10% {
		stroke: transparent;
	}
	11% {
		stroke: #ff005d;
	}
	40% {
		stroke: #ff005d;
	}
	41% {
		stroke: transparent;
	}
	45% {
		stroke: transparent;
	}
	46% {
		stroke: #ff005d;
	}
	100% {
		stroke: #ff005d;
	}
}
